/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
 COLORS SYSTEM
 Main color: #087f5b;
 Tints main color: #099268
 Grey color: #343a40
 Tints grey color: #495057
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  /* * now we will use typeface in CSS file
  * and this means the priority font family will be Inter but if some reason it's not available then use this second option which is default sans-serif
  * like in case you don't have internet and can't load typeface from google fonts and now sans-serif will be used
  * we also can add more options */
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* * this is final accent for the page */
  border-bottom: 8px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 48px;
}

h2 {
  /* * With header 2 we should try font-size from 32px to < h1 font-size, maybe it can bigger but in special situation 
  = 32px 36px*/
  font-size: 36px;
  /* * Again with big text the letters space will auto inscrease so we should custom to natural */
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

/* ! So notice it's not a button because this is a link because now we use link to link other page shop chair right not do anything like opening a model window
* and so if it leads somewhere it should be a link and if it does something it should be a button */
.btn:link,
.btn:visited {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #087f5b;
  border-radius: 50px;
  background-color: #087f5b;
  /* * because this is a links so anchor so it's inline element so it's not work with verticall space like margin bottom, top  so we need consvert it to inline-block and not block because it'll occupy all the space of line*/
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #099268;
  color: #343a40;
}

/* * In CSS we also dont want repeat our code so with button we have big button, small button, other button but they are button and they have some same common properties
  --> So we can create .btn class to set common properties for all button and we don't need to repeat code in per button
  * create btn--big, btn--small, other--btn and style the different properties */

.btn--big {
  padding: 16px 32px;
  font-size: 18px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 16px;
}

.feature-icon {
  /* *so to defined color with Outline SVG file we use stroke property 
  *so to defined color with Solid, Mini SVG file we use fill property*/
  stroke: #087f5b;
  /* ! we should be careful when we inscrease the icon the line of icon will also increase and it's not good 
  * and so to edit the line of icon we can use: stroke-width property*/
  stroke-width: 1.4;
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.chair-factor-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
  /* background-color: #63e6be; */
}

.header-text-box {
  align-self: center;
}

h1 {
  /* 
  !https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow
  * We used shadow for box now we can also use shadow for text
  * to do it we use text-shadow property
  * all value of text-shadow property is similar with the box-shadow property but it doesn't have the fourth property of box-shadow
  */
  /* text-shadow: 0 20px 2px rgba(0, 0, 0, 0.2); */

  /* * For Header we need the bigger font-size
  = 36 / 44 / 52 / 62  
  ! so what's happen if you don't have the paticular sizes system? well you will say so it should be 40 so again it should be 45 or why doesn't it be 50px, ... so you dont know that should you choose right
  ! and again it'll take more our time for choose the good font-size*/
  margin-bottom: 24px;
  font-size: 44px;
  /* *With Big text we should use line height smaller 1.5 */
  line-height: 1.1;
  /* *We also should edit letters-spacing
  ! because with big text the letter space will inscrease so it look unatural */
  letter-spacing: -1px;
}

.header-text {
  /* * With long-text we should have font-size from 20px to 32px 
  = 18 / 20 / 24 / 30*/
  font-size: 18px;
  /* * With long-text we should have line-height >= 1.5 */
  line-height: 1.7;
  margin-bottom: 24px;
}

img {
  width: 100%;
}

/* FEATURES */
.features-icon {
}

.features-title {
  /* ! Notice that: implements font-sizes between elements based on the hierarchy between the different headings and in general between all the different pieces of text on the site
  ! like the text important we also make it bigger and smaller the text more important than this text */
  font-size: 20px;
  margin-bottom: 16px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
  /* ! if we use line-height: 1.7 for text-long we should apply for all text-long why we don't want do our code messy right */
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  /* * remember that we can specify color in parent element and the child elements will be inhereted keep in mind */
  color: #fff;
  padding: 20px;
  border-radius: 50px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  /* 20px 24px 30 
  ! in this case we need the font-size with not break this text to two line*/
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-text {
  /* * you can use the font-size and line-height we used for the normal text before
  ! Notice: in big website or real website that we don't do it like this */
  font-size: 18px;
  line-height: 1.7;
  font-style: italic;
  margin-bottom: 24px;
}

/* CHAIRS */

.chair {
  /*
  !https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
  * So now we want add shadow to chair cart  
  * to add shadow we use box-shadow property and this is how we add shadow to box
  * box-shadow property requires multiple properties we can specify  4 or 5 values
  = the first one:  the horizontal offset of the shadow we specify a length which will then be the horizontal offset between box and shadow
  = the second value: the vertical  direction so basically the offset of the shadow from the box in this direction here 
  = the third value is the blur(do mo) of the shadow, if this values is small the shadow have small blur but if bigger then shadow will be blur big
  = the fourth value: is optional allow us to basically scale the shadow up, default it's 0
  = the last one: is color of the shadow
  * when we use color for shadow we need use with opacity and to dot hat we usually use the rgba() for that, rgba(0,0,0, 0.1)
  ! the opacity is bellow 0.1(max) for shadow we can also specify it's greather like 0.3, 0.6 but it's too dark for shadow and it's unatural
  * usually in interface design we want the light source to basically come from the top if we specify the first value 20px the light source look like from top across and its not we want therefore the first value usually we set it 0
  * becasue for these cards we use medium shadow so the verticall offset of the second value is 20 px it's logic
  * So if we specify the third value now we can see obviously the shadow box because it’s not blur(mo) right
  *You can see the box shadow is bigger the current card right that’s cuz we set the fourth option which scale the box-shadow to 10px now it’s bigger than current box 10px and usually we did it with 0 */
  /* box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.chair-box {
  padding: 24px;
}
h3 {
  margin-bottom: 24px;
  font-size: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
}

.chair-price {
  display: flex;
  /* * Because price is important info and we need bold them and have good font-size */
  font-size: 20px;
  justify-content: space-between;
}

footer {
  /* * footer content it not really important so we should descrease the footer font-size, and we also don't need format to less than 75px again because it's not important 
  * The footer is not important text so we can apply the lighter colors for this*/
  color: #495057;
  font-size: 14px;
  margin-bottom: 48px;
}
